body{
  background-color:rgb(255, 222, 200);
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.whole{
  margin-bottom: 120%;
}

.up{
  
  min-width: 20%;
  width: auto;
  height: auto;
  float: left;
  margin: 2.5%;
  margin-top: 5%;
  margin-left: 13%;
  margin-bottom: 2.5;
  position: relative;
  border-radius: 5%;

}
.up:hover .overlay{

  bottom: 0;
  height: 100%;
  opacity: 0.5;
  background-color:red;
  border-radius: 5%;


}


.up2{
  min-width: 20%;
  width: auto;
  height: auto;
  float: left;
  margin-top: 5%;
  margin-bottom: 2.5;
  margin-right: 5%;
  position: relative;
  border-radius: 5%;

}
.up2:hover .overlay{

  bottom: 0;
  height: 100%;
  opacity: 0.5;
  background-color:greenyellow;
  border-radius: 5%;

}

.down{
  min-width: 20%;
  width: auto;
  height: auto;
  float: left;
  margin: 2.5%;
  margin-left: 13%;
  margin-bottom: 2.5;
  position: relative;
  border-radius: 5%;

}
.down:hover .overlay{

  bottom: 0;
  height: 100%;
  opacity: 0.5;
  background-color:powderblue;
  border-radius: 5%;

}

.down2{
  min-width: 20%;
  width: auto;
  height: auto;
  float: left;
  margin-top: 2.5%;
  margin-bottom: 2.5;
  margin-right: 5%;
  position: relative;
  border-radius: 5%;

}
.down2:hover .overlay{

  bottom: 0;
  height: 100%;
  opacity: 0.5;
  background-color: rebeccapurple;
  border-radius: 5%;

}

.bottom{
  min-width: 20%;
  width: auto;
  height: auto;
  float: left;
  margin: 2.5%;
  margin-left: 33%;
  margin-bottom: 2.5;
  position: relative;
  margin-bottom: 5%;
  border-radius: 5%;

}
.bottom:hover .overlay{

  bottom: 0;
  height: 100%;
  opacity: 0.5;
  background-color:rgba(255, 115, 0, 0.87);
  border-radius: 5%;

}


.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 1s ease;
}
.text {
  color: white;
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.up .radius,.up2 .radius,.down .radius,.down2 .radius,.bottom .radius{
  border-radius: 5%;
}

.bee{
  margin-left: 1%;
  position: relative;
  animation-name: bee;
  animation: bee 31s infinite;
}
@keyframes bee {
  0%   { left:20px; top:0px;}
  50%  { left:20px; top:1500px;}
  100% { left:20px; top:0px;}

}