h1{
    text-align: center;
    padding: 35px;
    background-color: #ffcc99;
    margin-block-start: -8px;
    margin-block-end: 10px;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 65px;
}
.picture{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    float:left;
    padding-bottom: 2%;
    margin-top: 1%;
}
.row1{
    width:100%;
    margin:0 auto 5% auto ;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    background-color: #ffcc99;
    margin: 15px;
    padding-left: 71px;
    padding-right: 81px;
    padding-bottom: 18px;
    padding-top: 16px;
    color: white;
}
.wedding{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:white;
    margin-block-start: -16px;
    margin-block-end: 2px;
    margin-bottom: 19px;
    margin-left: -8px;
    margin-right: -8px;
    line-height: 4;;
}
body{
    background-color:white;
}

a[href="linkaddtocart.html"]{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}